*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

header{
  background-image: linear-gradient(to right, #FE4880, #FFCE00);
  box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
  padding: 15px;
}


header input{
  display: inline-block;
  color:#FFF;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  background: none;
  outline: none;
  border: none;
  appearance: none;
}


header:before{
  content: '/r/';
  display: inline-block;
  color:#FFF;
  font-size: 32px;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  background: none;
  outline: none;
  border: none;
  appearance: none;
}

.articles article{
  padding: 30px 15px;
  background-color: #FFF;
}

.articles article a{
  text-decoration: none;
}


.articles article h3{
  color: #212121;
}

.articles article:nth-child(2n){
  background-color: #F3f3f3;
}

.articles article:hover{
  background-image: linear-gradient(to left, #FE4880, #FFCE00);
}